<div class="container">
	<div class="container-header"><h2>Double Word Square</h2></div>
	<div class="container-body">
		<p>
			Word squares that form different words across and down are known as "double word squares".<br>
			Examples are:<br>

			<div class="code">
				T O O<br>
				U R N<br>
				B E E<br>				
			</div>
			
			<div class="code">
				L A C K<br>
				I R O N<br>
				M E R E<br>
				B A K E<br>
			</div>

			<div class="code">
				S C E N T<br>
				C A N O E<br>
				A R S O N<br>
				R O U S E<br>
				F L E E T<br>
			</div>

			<div class="code">
				A D M I T S<br>
				D E A D E N<br>
				S E R E N E<br>
				O P I A T E<br>
				R E N T E R<br>
				B R E E D S<br>				
			</div>
			
			The rows and columns of any double word square can be transposed to form another valid square.<br>
			For example:<br>

			<div class="code">
				L I M B<br>
				A R E A<br>
				C O R K<br>
				K N E E<br>
			</div>

			<div class="code">
				L A C K<br>
				I R O N<br>
				M E R E<br>
				B A K E<br>
			</div>
			Double word squares are somewhat more difficult to find than ordinary word squares, with the largest known fully legitimate English examples (dictionary words only) being of order 8. Puzzlers.org gives an order 8 example dating from 1953, but this contains six place names. Jeff Grant's example in the February 1992 Word Ways is an improvement, having just two proper nouns ("Aloisias", a plural of the personal name Aloisia, a feminine form of Aloysius, and "Thamnata", a Biblical place-name):<br>

			<div class="code">
				T R A T T L E D<br>
				H E M E R I N E<br>
				A P O T O M E S<br>
				M E T A P O R E<br>
				N A I L I N G S<br>
				A L O I S I A S<br>
				T E N T M A T E<br>
				A S S E S S E D<br>				
			</div>
		</p>
	</div>
</div>

<%= link_to 'next', '/pages/nokogiri' %>